@font-face {
    font-family: 'BattersonSans Light';
    src: url('../fonts/BattersonSans-Light.otf') format('opentype');
}

.login-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid black;
    background: white;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    font-family: 'BattersonSans Light', sans-serif;
    z-index: 1000;
}

.login-box label, input {
    margin-bottom: 5px;
}

.login-box button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    position: 'fixed';
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border: 1px solid #ddd;
}

.login-box button:hover {
    background-color: #dadada;
}