@font-face {
  font-family: 'BattersonSans Light';
  src: url('../fonts/BattersonSans-Light.otf') format('opentype');
}
@font-face {
  font-family: 'BattersonSans Bold';
  src: url('../fonts/BattersonSans-Bold.otf') format('opentype');
}
.body {
  background-color: #f6f6f6;
}
.title {
  font-family: 'BattersonSans Bold', sans-serif;
}
.container {
    font-family: 'BattersonSans Light', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
.nav-bar {
  font-family: 'BattersonSans Light', sans-serif;
}
  .login-button {
    position: 'fixed';
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: '100%'; 
    height: '100%';
    background-color: white;
    border: 1px solid #ddd;
  }
  .login-button:hover {
    background-color: #dadada;
  }
  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-bottom: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
  }
  .second-bar {
    
  }
  
  .topbar img {
    height: 50px; /* adjust this as needed */
    padding-left: 20px;
  }
  .employee-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .employee-box {
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }

  .employee-box img {
    width: 75%;
    border-radius: 50%; /* Makes the box circular */
    overflow: hidden; /* Hides any content outside the circular shape */
    height: auto;
    margin-bottom: 10px;
  }